body{
    position: relative;
    /* height: 100%; */
}

#home {
  padding-top:50px;
  height:100vh;
  color: #fff;
  background-image: url("mountains.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat:no-repeat;
  background-size:cover;
}

#about {
  padding-top:50px;
  height:100%;
  color: #fff;
  background-color: #1E88E5;
  padding-bottom: 50px;
}

#experience {
  padding-top:50px;
  height:100%;
  color: #fff;
  background-color: #1e2654;
  padding-bottom: 50px;
}

#projects {
  padding-top:50px;
  height:100%;
  color: #fff;
  background-color: #00bcd4;
  padding-bottom: 50px;
}
