/* navbar */
.navbar {
  background-color: #fff;
}

.bg-primary {
  background-color:#393a39 !important;
}

.btn-circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: white;
    /* font-size: calc(1px + 1vw); */
  }

/* home */
#home{
    /* padding-top: 1%; */
    padding-bottom: 1%;
    position: fixed;
    height: 100%;
    width: 100%;
    text-align: center;
    /* background-color: #757574; */
    background: linear-gradient(-45deg, #E5FCC2, #9DE0AD,#45ADA8, #547980, #594F4F);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#home>h1{
    color:white;
}

#home>p{
    /* font-size: calc(1px + 2vw); */
}

/* profile picture */
#profile {
    margin-top: 1%;
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#profile>img {
    display: block;
    width: 100%;
    border-radius: 50%;
}

hr {
    height: 1px;
    margin: 1em 0;
    background-color: white;
    margin-left:0;
}

.slide{
    -webkit-transition: width 1s ease-out; /* For Safari 3.1 to 6.0 */
    transition: width 1s  ease-out;
    width : 0%;
}

.slide-full{
    width:100%;
}

#about{
    /* position: fixed; */
    padding-top: 1%;
    padding-bottom: 1%;
    height: 100%;
    width: 100%;
    /* text-align: center; */
    background-color: #757574;
}

.btn{
    margin-top: 5px;
}

h1{
    color: white;
}

p{
    color: white;
}

#experience{
    /* position: fixed; */
    padding-top: 1%;
    padding-bottom: 1%;
    height: 100%;
    width: 100%;
    /* text-align: center; */
    background-color: #757574;
}


#projects{
    /* position: fixed; */
    padding-top: 1%;
    padding-bottom: 1%;
    height: 100%;
    width: 100%;
    /* text-align: center; */
    background-color: #757574;
}

a:link {
    color: white; 
    background-color: transparent; 
    text-decoration: none;
  }
  
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: #29c56f;
    background-color: transparent;
    text-decoration: none;
}
  
a:active {
    color: #29c56f;
    background-color: transparent;
    text-decoration: none;
}

li{
    color: white;
}

h3{
    color: white;
}

h5{
    color: white;
}